<div class="center-content">
	<h1>{{title}}</h1>
	<p>&nbsp;</p>
	<p class="message">To achieve your highest level of productivity</p>
	<p class="message">Simply begin again</p>
	<h1 id="timer"></h1>
	<button id="start-button" class="ui button" onclick="startTimer()">Start Work</button>
	<button id="dimm-button" class="ui button" onclick="dimmPage()">Return to Focus</button>
</div>


<div class="spacer">
	<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
 Actualized Achievments
</h4>
</div>

<div id="achievement-area">
	<div id="achievement-form" class="ui container spacer">
		<div class="ui labeled input">
			<div class="ui label">
				Intention:
			</div>
			<input type="text" id="intention-input" name="intention-input" placeholder="... attain oneness ...">
		</div>
		<div class="ui labeled input">
			<div class="ui label">
				Achievement:
			</div>
			<input type="text" id="achievement-input" name="achievement-input" placeholder="...">
		</div>
		<button type="button" id="add-achievement-button" class="ui button" onclick="addAchievement()" name="button">Note Achievement</button>
	</div>
	<div id="achievement-table">Poised for mindfull discovery...</div>
</div>

<!-- inspiration timer modal -->
<div class="ui modal basic" id="inspiration-timer-modal">
	<div class="content center-content">
		<h2 id="inspiration">
			<!-- zen_timer.js loads content here -->
		</h2>
		<h1 id="timer-dimmer">
			<!-- zen_timer.js loads content here -->
		</h1>
	</div>
</div>


<!-- Signing form modal -->
<div class="ui modal" id="signin-modal">
	<div class="ui massive message center-content">
		<h1>{{title}}</h1>
		<p>&nbsp;</p>
		<p class="message">Establish a session to enable cloud storage.</p>
		<p class="message">All things are transitory, but your work notes should be less transitory.</p>

	</div>
	<div id="warning-area" class="center-content"></div>

	<div id="container signing-area">
		<div id="signin-form" class="ui container spacer center-content">
			<div class="ui labeled input" id="email-input-field">
				<div class="ui label">
					email:&nbsp;&nbsp;&nbsp;
				</div>
				<input type="text" id="email-input" name="user-email" placeholder="">
			</div>
			<div class="ui labeled input" id="password-input-field">
				<div class="ui label">
					Password:
				</div>
				<input type="password" id="password-input" name="user-password" placeholder="">
			</div>
			<br />
			<br />
			<div class="center-content">
				<button type="button" id="signin-button" class="ui button" name="signin-button">Sign In</button>
				<button type="button" id="create-user-button" class="ui button" name="create-user-button">Create Account</button>
				<button type="button" id="signout-button" class="ui button" name="signout-button">Sign Out</button>
			</div>
		</div>
	</div>
</div>


<script src="/javascripts/auth.js"></script>
<script src="/javascripts/table.js"></script>
<script src="/javascripts/auth.js"></script>
